/***********************/
/* Fonts (typekit.com) */
/***********************/

$header_text_font_family: "calluna", serif;
$main_text_font_family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


/***********************/
/* Font Size           */
/***********************/
html { font-size: 62.5%; }

body {
  font-family: $main_text_font_family;
  font-size: 18px;
  font-size: 1.8rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header_text_font_family;
}

h1 { font-size: 38px; font-size: 3.8rem;}
h2 { font-size: 32px; font-size: 3.2rem;}
h3 { font-size: 24px; font-size: 2.4rem;}


/***********************/
/* Image Size          */
/***********************/
.logo {
  width: 10%;
}

.sidebar-pic {
  width: 200px;
  margin-bottom: 20px;
}

.about-pic {
  height: 200px;
};

@media screen and (max-width: 768px) {
  .sidebar { display: none;}
}

/***********************/
/* Syntax Highlighting */
/***********************/

code {
  color: black;
  background-color: #f8f8f8;
}

code, pre {
  font-family: monospace;
}

/*****************/
/* Sticky Footer */
/*****************/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}

.credit {
  margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
