<div class="row">
  <%= image_tag "/images/rob_kayak.jpg",       :class => "about-pic img-rounded" %>
  <%= image_tag "/images/rob_jon_wedding.jpg", :class => "about-pic img-rounded" %>
  <%= image_tag "/images/family_disney.jpg", :class => "about-pic img-rounded" %>
</div>

<hr/>

<p>I am Robert Jackson.  When I am not chasing future developers or designing billing software I enjoy biking, kayaking, canoeing, and other outdoor activities.  You can sometimes find me watching Dr. Who or reading the Wheel of Time. </p>

<%= partial 'wufoo' %>
