Projects that I enjoy working on:

<dl>
  <dt><a href="https://github.com/rjackson/pivot.js">pivot.js</a></dt>
  <dd>A data analysis tool inspired by MS Excel Pivot Tables. When provided a simple CSV/JSON data input format it will allow you to slice the data by any field.</dd>
  <dt><a href="https://github.com/rjackson/pingly">pingly</a></dt>
  <dd>A simple tool to help notify me of network outages.</dd>
  <dt><a href="https://github.com/rjackson/singleton_process">singleton_process</a></dt>
  <dd>Ensure that a given process is only running once. Helpful for ensure that scheduled tasks do not overlap if they run longer than the scheduled interval.</dd>
  <dt><a href="https://github.com/rondale-sc/image_viewer_rails">image_viewer_rails</a></dt>
  <dd>Used to display images for data entry alongside of the form used to enter the data. Allows keyboard navigation of the images.</dd>
  <dt><a href="https://github.com/promedical/hippo">hippo</a></dt>
  <dd>A library used to generate and parse X12 5010 formatted files. Specifically designed with healthcare in mind, it come with builtin transaction sets for claims (837), payments (835), and claim status (276/277).</dd>
  <dt><a href="https://github.com/rjackson/work_days">work_days</a></dt>
  <dd>A very simple tool used to determine the number of 'working' days within various paramenters (a month, between two dates, etc). This was originally designed to allow calculations of working days within a month for a company that I work for as compared to a bank. To accomplish this multiple schedules can be used, each with their own set of holidays.</dd>
</dl>

